# MQTT Configuration
MQTT_HOST=
MQTT_PORT=
MQTT_PROTOCOL=
MQTT_TOPIC=
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=

# Database Configuration
APP_TIME_ZONE=Asia/Jakarta
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT Configuration
JWT_SECRET=

# Database URL for NeonDB
DATABASE_URL=
MOCK_PLANT_ID=
MOCK_PLANT_INTERVAL_MS=

# MQTT khusus BMS Jiabaida
BMS_MQTT_PROTOCOL=
BMS_MQTT_HOST=
BMS_MQTT_PORT=
BMS_MQTT_TOPIC=
BMS_MQTT_CLIENT_ID=
BMS_MQTT_USERNAME=
BMS_MQTT_PASSWORD=
BMS_MQTT_DEBUG=

# TEST_API_EMAIL=adit@mail.com
# TEST_API_PASSWORD=123456
# TEST_PLANT_ID=3

# Deye Cloud API
DEYE_BASE_URL=
DEYE_APP_ID=
DEYE_APP_SECRET=
DEYE_COMPANY_ID=
DEYE_EMAIL=
DEYE_PASSWORD_SHA256=
DEYE_STATION_ID=
DEYE_PLANT_ID=
DEYE_REQUEST_TIMEOUT=
DEYE_DEVICE_SN=
DEYE_DEVICE_TYPE=
DEYE_STATION_POWER_UNIT=

# Jalankan worker sebagai satu process terpisah dari Express.
DEYE_SYNC_ENABLED=false
DEYE_SYNC_INTERVAL_MS=300000